SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
BASH_ENV=/container.env

* * * * * /bin/bash /app/cli/cron event-consumer.php
*/1 * * * * /bin/bash /app/cli/cron autoredemption-scheduler
0 2,14 * * * /bin/bash /app/cli/cron sweepstake-drawing
* * * * * /bin/bash /app/cli/cron program-canceller
0 3 * * * /bin/bash /app/cli/cron onetime-autoredemption-runner
* * * * * /bin/bash /app/cli/cron return-processor


