SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
BASH_ENV=/container.env

*/1 * * * * root /bin/bash /var/www/html/cli/cron.sh event-consumer.php
*/1 * * * * root /bin/bash /var/www/html/cli/cron.sh autoredemption-scheduler
0 2,14 * * * root /bin/bash /var/www/html/cli/cron.sh sweepstake-drawing
0 2 * * * root /bin/bash /var/www/html/cli/cron.sh program-canceller

